.skills{
    
    &--container_description {
        display: flex;
        max-width: 1228px;
        justify-content: center;
    }

    &--sub_containr_txt_1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &--icon{
        width: 68px;
    }

    &--container_skills{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    &--name_icon {
        display: none;
    }

    &--container_father_icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            &--name_icon {
                display: block;
            }
        }
    }

    &--container_icon{
        position: relative;
    }


}
