$white : white;

.about{
    &--container_description{
        display: flex;
        justify-content: center;
        padding-top: 76px;
    }

    &--txt_1{
        max-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        justify-content: center;
        border-right: 1px solid white;
    }

    &--sub_txt_1{
        font-size: 1.5em;
        color: $white;
    }

    &--txt_2{
        max-width: 591px;
        padding-left: 42px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &--sub_txt_2{
        font-size: 1.5em;
        line-height: 29px;
        margin: 0;
        color: $white;
    }

    @media (min-width: 0px) and (max-width: 844px){
        &--container_description {
            display: flex;
            justify-content: center;
            padding-top: 0px;
            flex-direction: column;
            align-items: center;
        }

        &--sub_containr_txt_1{
            text-align: center;
        }

        &--sub_txt_1 {
            font-size: 1.2em;
            color: white;
        }

        &--txt_1 {
            max-width: 340px;
            display: flex;
            flex-direction: column;
            gap: 17px;
            justify-content: center;
            border-right: 0px solid white;
            border-bottom: 1px solid white;
            padding-bottom: 11px;
        }

        &--txt_2 {
            max-width: 340px;
            padding-left: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

        &--sub_txt_2 {
            font-size: 1.2em;
            line-height: 29px;
            margin: 0;
            color: white;
        }
    }
}